; begin auth token
//pkgs.dev.azure.com/goveindia/Baas-360/_packaging/BaaS-360-Dev/npm/registry/:username=goveindia
//pkgs.dev.azure.com/goveindia/Baas-360/_packaging/BaaS-360-Dev/npm/registry/:_password=fi7a4r4dgio5d3d3izw2oc7wksdglu7r6rojtwvey26zhrm2yqga
//pkgs.dev.azure.com/goveindia/Baas-360/_packaging/BaaS-360-Dev/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/goveindia/Baas-360/_packaging/BaaS-360-Dev/npm/:username=goveindia
//pkgs.dev.azure.com/goveindia/Baas-360/_packaging/BaaS-360-Dev/npm/:_password=fi7a4r4dgio5d3d3izw2oc7wksdglu7r6rojtwvey26zhrm2yqga
//pkgs.dev.azure.com/goveindia/Baas-360/_packaging/BaaS-360-Dev/npm/:email=npm requires email to be set but doesn't use the value
; end auth token